.provision {
    /* padding: 0.2667rem 0.4533rem; */
    overflow: auto;
    overflow-x: hidden;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
  }
  .pagewarp{
      background-color:  #919191;
      padding: 0.16rem ;
      padding-bottom: 0;
  }
  .pagebg{
      background-color: #fff;
      padding:0 0.2667rem;
  }
  .firstpage{
      position: relative;
  }
  .provision_title{
      font-weight: 500;
      font-size: 0.4266rem;
      color: #666666;
      text-align: center;
      line-height: 1.6rem;
  }
  .guide{
      padding-bottom: 0.2667rem;
  }
  .tip{
      font-size: 0.3734rem;
        color: #666666;
        line-height: 0.5333rem;
        margin: 0 auto 0.2667rem;     
  }
  .note{
      font-size: 0.3734rem;
      color: #2A2A2A;
      letter-spacing: 0;
      text-align: justify;
      line-height: 0.8534rem;
      position: relative;
      z-index: 2;
      /* background-image: url("../../assets/image/eImg/dian.png") ;
      background-position-y: center;
      background-repeat-y: no-repeat;
      background-size: 0.2133rem; */
  }
  .note::before{
      content: '';    
       background: url("./image/dian.png") repeat-x;
      background-position-y: center;
      /* background-repeat-y: no-repeat; */
      background-size: 0.2133rem;
      display: inline-block;
      width: 100%;
      height: 0.8533rem;
      position: absolute;
      bottom: 0;
  }
  .note span{
      position: relative;
      z-index: 1;
      display: inline;
      background-color: #fff;
      padding-right: 0.1333rem;
  }
  .note .note_a{
       position: relative;
      z-index: 1;
      /* display: inline; */
      background-color: #fff;
      float: right;
      color: #6f9ee5;
      padding-left:0.1333rem;
      padding-right: 0;
  }   
  .remind{
      font-size: 0.3734rem;
      color: #666666;
      line-height: 0.64rem;
      margin-top: 0.9333rem;
      /* position: absolute; */
      /* bottom:1.0667rem; */
  }
  /* .firstpage::after{
      content: "";
      width: 120vw;
      height: 0.1333rem;
      background-color: #919191;
      display: block;
      position: absolute;
      left: -0.4rem;
      bottom: 0.5333rem;
  } */
  .remind img{
      height: 0.4266rem;
      vertical-align: text-bottom;
      line-height: 0.64rem;
  
  }
  .title_1 {
    font-size: 0.3734rem;
    color: #000;
    line-height: 0.8534rem;
    font-weight: 500; 
  }
  .title_1::before {
    content: "";
    width: 0.0534rem;
    height: 0.2933rem;
    background-color: #ff8722;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0rem 0.1333rem 0.08rem 0;
  }
  .catalog{
      box-sizing: border-box;
      border: .16rem solid #919191;
      padding: 0.2667rem;
  }
  .catalog_warp{
      padding-top: 0.2667rem;
  }
  .leftcata{
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding-right: 0.2667rem;
       position: relative;
  }
  
  .rightcata{
       float: left;
         box-sizing: border-box;
      width: 50%;
      padding-left: 0.2667rem;
      padding-right: 0;
      border-left: 0.0267rem solid #EBEBEB;
     
  }
  .leftcata::after{
      content: "";
      width: 120vw;
      height: 0.1333rem;
      background-color: #919191;
      display: block;
      position: absolute;
      left: -0.2667rem;
      bottom:0rem;
  }
  .noAfter::after{
      display: none
  }
  .line{
      border-bottom: 0.0267rem solid  #EBEBEB;
      margin: 0.4267rem 0;
  }
  
  .catalog_item {
       /* padding-left: 0.2667rem; */
       box-sizing: border-box;
      line-height:  0.8533rem;
      /* min-height: 0.8533rem; */
    font-size: 0.3734rem;
    /* color: #2a2a2a; */
    color: #6f9ee5;
  }
  .catalog_item_sub {
    color: #6f9ee5;
  }
  .content{
      padding: 0.4533rem;
  }
  .content_part{
      margin-top: 0.5867rem
  }
  .content_title{
      margin-top: 0.2667rem;
      font-size: 0.3734rem;
       color: #2A2A2A;
       line-height: 0.64rem;
  }
  .content_det{
      font-size: 0.3734rem;
      color: #666;
      letter-spacing: 0;
      text-align: justify;
      line-height: 0.64rem;
  }
  .content_det img{
      width: 100%;
  }
  .clearfix::after{
      content:".";display:block;height:0;clear:both;visibility:hidden
  }
  .bottomfixed{
      position: fixed;
      bottom: 39px;
      right: 30px;
      width: 40px;
  }
  .bottomfixed img{
      width: 40px;
  }
  
  
  /*弹框样式*/
  .imgzoom_pack{
      width:100%;
      height:100%;
      position:fixed;
      left:0;
      top:0;
      background:rgba(0,0,0,.7);
      display:none;
  }
  .imgzoom_pack .imgzoom_x{
      color:#fff;
      height:30px;
      width:30px;
      line-height:30px;
      background:#000;
      text-align:center;
      position:absolute;
      right:5px;
      top:5px;
      z-index:10;
      cursor:pointer;
  }
  .imgzoom_pack .imgzoom_img{
      width:100%;
      height:100%;
      position:absolute;
      left:0;
      top:0;
      overflow:hidden;
  }
  .imgzoom_pack .imgzoom_img img{
      width:100%;
      position:absolute;
      top:50%;
  }
  
  .tiaokuanTitle{
    font-weight: 500;
    font-size: 0.4266rem;
    color: #666666;
    text-align: center;
    line-height: 1.6rem;
  }