.page{
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: #eee;
}

#wheel{
    height: 270px;
    overflow: hidden;
}

ul{
    margin-top: 100px;
}

ul li{
    height: 50px;
    line-height: 50px;
    /* background-color: #fff; */
    text-align: center;
    font-size: 16px;
}