.page{
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: #eee;
}

#wheel{
    height: 270px;
    overflow: hidden;
}


ul li{
    height: 50px;
    line-height: 50px;
    /* background-color: #fff; */
    text-align: center;
    font-size: 16px;
    background-color: #fff;
}

.container{
    height: 300px;
    background: #000;
    margin-bottom: 10px;
}

.item{
    height: 50px;
}

.sw-container{
    height: 100%;
}

canvas{
    
}

#drawImg{
    width: 100%;
    float: left;
}