.page{
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    background-color: #eee;
}

header{
    text-align: center;
    margin: 20px auto;
}

main{
    padding: 0 .4rem;
}

h1{
    /* font-size: .8rem; */
}

.btn-container{
    /* margin-bottom: .3rem; */
}

/* button{
    width: 200px;
    height: 45px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    outline: none;
    border-radius: .133333rem;
    border: none;
} */

/* button:active{
    background-color: #3584d6;
} */

table{
    width: 100%;
}

table td{
    text-align: center;
}

table tr:nth-child(even) td {
    background: #fff;
}